{% extends 'base2.html.twig' %}

{% block title %}FicheST index{% endblock %}

{% block body %}
    <h1>FicheST index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DATE</th>
                <th>Operation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fiche_s_t in fiche_s_ts %}
            <tr>
                <td>{{ fiche_s_t.id }}</td>
                <td>{{ fiche_s_t.DATE }}</td>
                <td>{{ fiche_s_t.operation }}</td>
                <td>
                    <a href="{{ path('fiche_s_t_show', {'id': fiche_s_t.id}) }}">show</a>
                    <a href="{{ path('fiche_s_t_edit', {'id': fiche_s_t.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('fiche_s_t_new') }}">Create new</a>
{% endblock %}
