{{ form_start(form) }}
     {{ form_widget(form.nomAr, { 'attr': { 'class': 'form-control' } ,}) }}<br>
      {{ form_widget(form.quantite, { 'attr': { 'class': 'form-control' } }) }}
      <br>
      {{ form_widget(form.image, { 'attr': { 'class': 'form-control' } }) }}<br>

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
